$color-primary-1: hsl(180, 62%, 55%);
$color-primary-2: hsl(0, 78%, 62%);
$color-primary-3: hsl(34, 97%, 64%);
$color-primary-4: hsl(212, 86%, 64%);

$color-neutral-1: hsl(234, 12%, 34%);
$color-neutral-2: hsl(229, 6%, 66%);
$color-neutral-3: hsl(0, 0%, 98%);

$size-mobile: 0.8125rem;
$size-body: 0.9375rem;

$font-family: "Poppins", sans-serif;

$weight-extralight: 200;
$weight-normal: 400;
$weight-semibold: 600;

// $breakpoints: (
// 	small: 40em,
// 	// 544px,
// 		medium: 60em,
// 	// 760px,
// 		large: 61.25em,
// 	// 980px,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
// );

/* --------------------------
  RESET START
----------------------------*/

// https://github.com/hankchizljaw/modern-css-reset/blob/master/dist/reset.css

/*----------------------------
	Visually hidden
----------------------------*/
.sr-only {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important;
	-webkit-clip-path: inset(50%) !important;
	clip-path: inset(50%) !important;
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-inline-size: 100%;
  block-size: auto;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* --------------------------
  RESET END
----------------------------*/

body {
  font-family: $font-family;
}


.feature-header {
  margin-block-start: 5.3125rem;
  margin-inline: 2rem;

  &__heading {
    font-size: 1.5rem;
    margin-block-end: 1rem;
    color: $color-neutral-1;
    text-align: center;
  
    &--main {
      font-weight: $weight-extralight;
    }
  
    &--sub {
      font-weight: $weight-semibold;
    }
  }

  &__message {
    font-size: $size-body;
    text-align: center;
    color: $color-neutral-2;
  }
}



.feature-main {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1.5625rem;
  margin-inline: 2rem;
  margin-block-start: 4.75rem;
  margin-block-end: 4.875rem;
}

/* --------------------------
  CARD STYLES START
----------------------------*/

.card {
  box-shadow: 0 4px 4px rgba($color: #000000, $alpha: .25);
  padding-inline: 1.75rem;
  padding-block: 1.75rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;


  &--supervisor {
    border-block-start: 4px solid $color-primary-1;
  }
   
  &--team {
    border-block-start: 4px solid $color-primary-2;
  }

  &--karma {
    border-block-start: 4px solid $color-primary-3;
  }

  &--calculator {
    border-block-start: 4px solid $color-primary-4;
  }

  &__heading {
    color: $color-neutral-1;
    font-weight: $weight-semibold;
    font-size: 1.25rem;
  }

  &__text {
    font-size: $size-mobile;
    color: $color-neutral-2;
    margin-block-end: 2.5rem;
  }

  &__img {
    align-self: flex-end;
  }

}