$color-primary-1: hsl(180, 62%, 55%);
$color-primary-2: hsl(0, 78%, 62%);
$color-primary-3: hsl(34, 97%, 64%);
$color-primary-4: hsl(212, 86%, 64%);

$color-neutral-1: hsl(234, 12%, 34%);
$color-neutral-2: hsl(229, 6%, 66%);
$color-neutral-3: hsl(0, 0%, 98%);

$size-mobile: 0.8125rem;
$size-body: 0.9375rem;

$font-family: "Poppins", sans-serif;

$weight-extralight: 200;
$weight-normal: 400;
$weight-semibold: 600;

// $breakpoints: (
// 	small: 40em,
// 	// 544px,
// 		medium: 60em,
// 	// 760px,
// 		large: 61.25em,
// 	// 980px,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
// );

/* --------------------------
  RESET START
----------------------------*/

// https://github.com/hankchizljaw/modern-css-reset/blob/master/dist/reset.css

/*----------------------------
	Visually hidden
----------------------------*/
.sr-only {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important;
	-webkit-clip-path: inset(50%) !important;
	clip-path: inset(50%) !important;
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* --------------------------
  RESET END
----------------------------*/

// main {
//   padding-inline: 2rem;
//   padding-block-start: 5.3125rem;
//   padding-block-end: 4.875rem;
// }

.feature__content {
  --flow-space: 1.5625rem;
  margin-block-start: 4.75rem;
}

.card {
  box-shadow: 0 4px 4px rgba(0, 0, 0, .25);
  padding-inline: 1.75rem;
  padding-block: 1.75rem;
  border-radius: 8px;
}


.card__content {
  --flow-space: 0;
}

.flow > * + * {
  margin-block-start: var(--flow-space, 1em);
}